<!DOCTYPE html>
<html class="fullscreen_page sticky_menu">
<head>
</head>
<body>
    <div class="fs_fadder hided"></div>
  <div class="fs_sharing_wrapper hided">
    <div class="fs_sharing">
            <a href="javascript:void(0);" class="share_facebook"><i class="icon-facebook-square"></i></a>
            <a href="javascript:void(0);" class="share_pinterest"><i class="icon-pinterest"></i></a>
            <a href="javascript:void(0);" class="share_tweet"><i class="icon-twitter"></i></a>
            <a href="javascript:void(0);" class="share_gplus"><i class="icon-google-plus-square"></i></a>
            <a class="fs_share_close hided" href="javascript:void(0)"></a>
        </div>
    </div>
  <div class="content_bg"></div>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "modules.js" %>
<%= javascript_include_tag "theme.js" %>
    <script>
    gallery_set = [
      {image: "/assets/gallery/slider/1.jpg", thmb: "gallery/slider/thumbs/1.jpg", alt: "SEASHORE", title: "SEASHORE", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/2.jpg", thmb: "img/gallery/slider/thumbs/2.jpg", alt: "Colors", title: "Colors", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/3.jpg", thmb: "img/gallery/slider/thumbs/3.jpg", alt: "Forest", title: "Forest", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/4.jpg", thmb: "img/gallery/slider/thumbs/4.jpg", alt: "Coffee", title: "Coffee", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/5.jpg", thmb: "img/gallery/slider/thumbs/5.jpg", alt: "Dude", title: "Dude", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/6.jpg", thmb: "img/gallery/slider/thumbs/6.jpg", alt: "Summer", title: "Summer", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/7.jpg", thmb: "img/gallery/slider/thumbs/7.jpg", alt: "Skate", title: "Skate", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/8.jpg", thmb: "img/gallery/slider/thumbs/8.jpg", alt: "Forest", title: "Forest", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/9.jpg", thmb: "img/gallery/slider/thumbs/9.jpg", alt: "Mountains", title: "Mountains", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/10.jpg", thmb: "img/gallery/slider/thumbs/10.jpg", alt: "Seashore", title: "Seashore", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/11.jpg", thmb: "img/gallery/slider/thumbs/11.jpg", alt: "Pier", title: "Pier", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/12.jpg", thmb: "img/gallery/slider/thumbs/12.jpg", alt: "Desert", title: "Desert", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/13.jpg", thmb: "img/gallery/slider/thumbs/13.jpg", alt: "Mountains", title: "Mountains", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/14.jpg", thmb: "img/gallery/slider/thumbs/14.jpg", alt: "Tourist", title: "Tourist", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/15.jpg", thmb: "img/gallery/slider/thumbs/15.jpg", alt: "Fog", title: "Fog", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/16.jpg", thmb: "img/gallery/slider/thumbs/16.jpg", alt: "Desert", title: "Desert", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/17.jpg", thmb: "img/gallery/slider/thumbs/17.jpg", alt: "Seashore", title: "Seashore", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"},
      {image: "img/gallery/slider/18.jpg", thmb: "img/gallery/slider/thumbs/18.jpg", alt: "Stones", title: "Stones", description: "Discover elegant solution for your online portfolio", titleColor: "#ffffff", descriptionColor: "#ffffff"}
    ]

    jQuery(document).ready(function(){
      "use strict";
      jQuery('html').addClass('hasPag');
      jQuery('body').fs_gallery({
        fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
        fit: 'no_fit',
        slide_time: 3300, /*This time must be < then time in css*/
        autoplay: 1,
        show_controls: 1,
        slides: gallery_set
      });
      jQuery('.fs_share').click(function(){
        jQuery('.fs_fadder').removeClass('hided');
        jQuery('.fs_sharing_wrapper').removeClass('hided');
        jQuery('.fs_share_close').removeClass('hided');
      });
      jQuery('.fs_share_close').click(function(){
        jQuery('.fs_fadder').addClass('hided');
        jQuery('.fs_sharing_wrapper').addClass('hided');
        jQuery('.fs_share_close').addClass('hided');
      });
      jQuery('.fs_fadder').click(function(){
        jQuery('.fs_fadder').addClass('hided');
        jQuery('.fs_sharing_wrapper').addClass('hided');
        jQuery('.fs_share_close').addClass('hided');
      });

      jQuery('.close_controls').click(function(){
        if (jQuery(this).hasClass('open_controls')) {
          jQuery('.fs_controls').removeClass('hide_me');
          jQuery('.fs_title_wrapper ').removeClass('hide_me');
          jQuery('.fs_thmb_viewport').removeClass('hide_me');
          jQuery('header.main_header').removeClass('hide_me');
          jQuery(this).removeClass('open_controls');
        } else {
          jQuery('header.main_header').addClass('hide_me');
          jQuery('.fs_controls').addClass('hide_me');
          jQuery('.fs_title_wrapper ').addClass('hide_me');
          jQuery('.fs_thmb_viewport').addClass('hide_me');
          jQuery(this).addClass('open_controls');
        }
      });

      jQuery('.main_header').removeClass('hided');
      jQuery('html').addClass('without_border');
    });
  </script>
    <%= javascript_include_tag "fs_gallery"%>
</body>
</html>
