
<html class="fullscreen_page sticky_menu">
  <head>
  </head>
  <body>
    <div class="fs_fadder hided"></div>
    <div class="fs_sharing_wrapper hided">
      <div class="fs_sharing">
        <a href="javascript:void(0);" class="share_facebook"><i class="icon-facebook-square"></i></a>
        <a href="javascript:void(0);" class="share_pinterest"><i class="icon-pinterest"></i></a>
        <a href="javascript:void(0);" class="share_tweet"><i class="icon-twitter"></i></a>
        <a href="javascript:void(0);" class="share_gplus"><i class="icon-google-plus-square"></i></a>
        <a class="fs_share_close hided" href="javascript:void(0)"></a>
      </div>
    </div>
    <div class="content_bg"></div>
    <%= javascript_include_tag "jquery-ui.min.js" %>
    <%= javascript_include_tag "modules.js" %>
    <%= javascript_include_tag "theme.js" %>
    <script>
      gallery_set = [
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/1.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/1.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/2.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/2.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/3.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/3.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/4.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/4.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/5.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/5.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/6.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/6.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/7.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/7.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/8.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/8.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/9.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/9.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/10.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/10.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/11.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/11.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/12.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/12.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/13.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/13.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/14.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/14.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/15.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/15.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/16.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/16.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/17.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/17.jpg"},
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/18.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/18.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/19.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/19.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/20.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/20.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/21.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/21.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/22.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/22.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/23.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/23.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/24.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/24.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/25.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/25.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/26.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/26.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/27.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/27.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/28.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/28.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/29.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/29.jpg"}
      {image: "http://s3.amazonaws.com/backdrop-studio/home/images/30.jpg", thmb: "http://s3.amazonaws.com/backdrop-studio/home/thumb/30.jpg"}
      ]

      jQuery(document).ready(function(){
        "use strict";
        jQuery('html').addClass('hasPag');
        jQuery('body').fs_gallery({
          fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
          fit: 'no_fit',
          slide_time: 3300, /*This time must be < then time in css*/
          autoplay: 1,
          show_controls: 1,
          slides: gallery_set
        });
        jQuery('.fs_share').click(function(){
          jQuery('.fs_fadder').removeClass('hided');
          jQuery('.fs_sharing_wrapper').removeClass('hided');
          jQuery('.fs_share_close').removeClass('hided');
        });
        jQuery('.fs_share_close').click(function(){
          jQuery('.fs_fadder').addClass('hided');
          jQuery('.fs_sharing_wrapper').addClass('hided');
          jQuery('.fs_share_close').addClass('hided');
        });
        jQuery('.fs_fadder').click(function(){
          jQuery('.fs_fadder').addClass('hided');
          jQuery('.fs_sharing_wrapper').addClass('hided');
          jQuery('.fs_share_close').addClass('hided');
        });

        jQuery('.close_controls').click(function(){
          if (jQuery(this).hasClass('open_controls')) {
            jQuery('.fs_controls').removeClass('hide_me');
            jQuery('.fs_title_wrapper ').removeClass('hide_me');
            jQuery('.fs_thmb_viewport').removeClass('hide_me');
            jQuery('header.main_header').removeClass('hide_me');
            jQuery(this).removeClass('open_controls');
            } else {
            jQuery('header.main_header').addClass('hide_me');
            jQuery('.fs_controls').addClass('hide_me');
            jQuery('.fs_title_wrapper ').addClass('hide_me');
            jQuery('.fs_thmb_viewport').addClass('hide_me');
            jQuery(this).addClass('open_controls');
          }
        });

        jQuery('.main_header').removeClass('hided');
        jQuery('html').addClass('without_border');
      });
    </script>
    <%= javascript_include_tag "fs_gallery"%>
  </body>
</html>
