<div class="fw_content_wrapper">
  <div class="fw_content_padding">
    <div class="content_wrapper noTitle">
      <div class="container">
        <div class="content_block row no-sidebar">
          <div class="fl-container ">
            <div class="row">
              <div class="posts-block ">                                                   
                <div class="contentarea">
                  <div class="row">
                    <div class="span8 first-module module_number_1 module_cont pb0 module_text_area">
                      <div class="bg_title"><h2 class="headInModule">About Us</h2></div>
                      <div class="module_content">
                        <p>
                        I'm Ramesh Sigamani, based out of Alpharetta, Georgia. I live with my handsome little boy and my adorable wife, the one who gives me the space and time for all my photographic endeavors and  the one who always says that I would even bungee jump off a cliff to get that perfect shot <i class="icon-smile-o"></i>.</p><p> 
Photography is close to my heart as it helps me preserve time and memories, for my clients to gaze at a later time and feel the emotions rise from within that image. I truly feel delighted every single time someone trusts me with capturing their once in a life-time events. I have been taking pictures for what seems like all my life, but professionally for 8 years since 2008, making use of top-of-the-line equipment assuring stunning image qualities.</p><p>
I enjoy capturing the moments of your birthday, graduation, baby shower, cradle ceremony and any kind of family get together events, the moments that you would love to capture today and cherish forever. I treasure working with my existing clients and always relish the pleasure of meeting someone new. And thanks for visiting my portfolio.
                      
                          
                        </p> 


                      </div>
                    </div><!-- .module_cont -->

                    <div class="span4 module_number_2 module_cont pb0 module_text_area">
                      <div class="module_content">
                      <p><img src="<%= asset_path 'assets/about_us.jpg' %>"  alt="" width="460" height="406" /></p>
                      </div>
                    </div><!-- .module_cont -->                     

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed_bg bg1"></div>

<div class="content_bg"></div>

<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "modules.js" %>
<%= javascript_include_tag "theme.js" %>

<script>
  jQuery(document).ready(function(){
    "use strict";
    centerWindow();
    if (window_w > 760) {
      jQuery('html').addClass('without_border');
    }
  });
  jQuery(window).load(function(){
    "use strict";
    centerWindow();
  });
  jQuery(window).resize(function(){
    "use strict";
    centerWindow();
    setTimeout('centerWindow()',500);
    setTimeout('centerWindow()',1000);
  });
  function centerWindow() {
    "use strict";
    setTop = (window_h - jQuery('.fw_content_wrapper').height() - header.height())/2+header.height();
    if (setTop < header.height()+50) {
      jQuery('.fw_content_wrapper').addClass('fixed');
      jQuery('body').addClass('addPadding');
      jQuery('.fw_content_wrapper').css('top', header.height()+50+'px');
      } else {
      jQuery('.fw_content_wrapper').css('top', setTop +'px');
      jQuery('.fw_content_wrapper').removeClass('fixed');
      jQuery('body').removeClass('addPadding');
    }
  }
</script>
